body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  border: 1px black solid;
  padding: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:active, a:visited {
  color: black;
}

#main-container {
  display: flex;
  flex-direction: row;
}

.main-column {
  flex: 2;
  background-color: yellowgreen;
}

.sidebar-column {
   flex: 1;
  background-color: tomato;
}

.folder {
  width: 100%;
  height: 30px;
  border: 1px black solid;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}